<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>
    <div id="services">
        
        {{!-- HERO SIDE START --}}
        <section class="hero position-relative" style="background-image: url('../../assets/zeal-hero.jpg');">

            {{!-- HEADER SIDE --}}
            {{> sections/header}}

            <div class="overlay-hero position-absolute"></div>
            <div class="container">
                <div class="content position-relative d-flex flex-column justify-content-center align-items-center">
                    <h1>What We Do</h1>
                    <p>We are a full service digital and creative agency. Meaning we have every service under one roof
                        to grow your business. Whether you need short-term exposure or an end-to-end solution, we can
                        make it happen</p>
                </div>
            </div>
        </section>
        {{!-- // HERO SIDE END --}}


        {{!-- ZEAL CREATE SIDE START --}}
        <section class="zeal-grid-create w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-6">
                        {{> sections/evenlygrid}}
                    </div>
                    <div class="col-md-6 col-lg-3 col-6">
                        {{> sections/evenlygrid}}
                    </div>
                    <div class="col-md-6 col-lg-3 col-6">
                        {{> sections/evenlygrid}}
                    </div>
                    <div class="col-md-6 col-lg-3 col-6">
                        {{> sections/evenlygrid}}
                    </div>
                </div>
            </div>
        </section>
        {{!-- ZEAL CREATE SIDE END --}}



        {{!-- ZEAL LISTING SIDE START --}}
        <section class="zeal-listing o-section w-100">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        {{> sections/listing}}
                    </div>

                    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                        {{> sections/listing-two}}
                    </div>

                </div>
            </div>
        </section>
        {{!-- ZEAL LISTING SIDE END --}}



        {{!-- ZEAL LISTING SIDE TWO START --}}
        <section class="zeal-listing-two o-section w-100">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                        {{> sections/listing-two}}
                    </div>

                    <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <div class="side_padding w-100">
                            {{> sections/listing}}
                        </div>
                    </div>

                </div>
            </div>
        </section>
        {{!-- ZEAL LISTING SIDE TWO END --}}


        {{!-- ZEAL LISTING SIDE THREE START --}}
        <section class="zeal-listing-three o-section w-100">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        {{> sections/listing}}
                    </div>

                    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                        {{> sections/listing-two}}
                    </div>

                </div>
            </div>
        </section>
        {{!-- ZEAL LISTING SIDE THREE END --}}


        {{!-- ZEAL LISTING SIDE FOUR START --}}
        <section class="zeal-listing-four o-section w-100">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                        {{> sections/listing-two}}
                    </div>

                    <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <div class="side_padding w-100">
                            {{> sections/listing}}
                        </div>
                    </div>

                </div>
            </div>
        </section>
        {{!-- ZEAL LISTING SIDE FOUR END --}}


        <section class="last-share-block o-section w-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div
                            class="o-block d-flex flex-column justify-content-center align-items-center text-center w-100">
                            <h2>Tell Us About Your<br> Project</h2>

                            <p>We’ll work with you to decide what your business or idea needs in order to <br> take it
                                to the next level.</p>

                            <a href="#" class="c-btn position-relative">
                                GET IN TOUCH

                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>









    {{!-- {{> sections/evenlygrid }} --}}

    {{!-- {{> common/footer }} --}}

</body>

</html>