<div id="team w-100">
    {{!-- HERO SIDE START --}}
    <section class="hero position-relative" style="background-image: url('../../assets/meet-team.jpg');">

        {{!-- HEADER SIDE --}}
        {{> sections/header}}

        <div class="overlay-hero position-absolute"></div>
        <div class="container">
            <div class="content position-relative d-flex flex-column justify-content-center align-items-center">
                <h1>Meet the Team</h1>
                <p>Meet the wonderfully enthusiastic, passionate and creative individuals that make up the Zeal team.
                    Together, they are the single greatest asset Zeal has.</p>
            </div>
        </div>
    </section>
    {{!-- // HERO SIDE END --}}

    {{!-- ABOUT TEXT STRAT --}}
    <section class="about-text o-section w-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                    <div
                        class="team-text-side d-flex flex-column justify-content-center align-items-center text-center w-100">
                        <h2>People of Zeal</h2>
                        <p>Zeal. It means great energy or enthusiasm in pursuit of a cause. Since 2010 our cause has
                            been caring about your growth as much as our own. It’s necessary to produce the work that we
                            do. And why we only hire people who understand it.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- ABOUT TEXT END --}}


    {{!-- ZEAL TEAM START --}}
    <section class="zeal-team-side o-section w-100">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3 col-md-6 col-12">
                    {{>sections/teamlisting}}
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    {{>sections/teamlisting}}
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    {{>sections/teamlisting}}
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    {{>sections/teamlisting}}
                </div>

            </div>
        </div>
    </section>
    {{!-- ZEAL TEAM END --}}

</div>