// Search Start
.search-drawer {
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.884);
    z-index: 9999;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    right: 0;
    clip-path: circle(0);

    .search-bar {
        position: absolute;
        top: 46%;
        left: 10%;
        float: left;
        width: 80%;
        margin: 0;
        outline: none !important;
        border: none;
        border-bottom: 2px solid #000000;

        .search-bar-table {

            i {
                color: #be9c79;
                font-size: 50px;
                cursor: pointer;
                right: 25px;
                position: absolute;
                transition: .3s ease;

                @include min-tablet {
                    font-size: 35px;
                }

                &:hover {
                    color: #514242;
                }
            }

            .search-bar_input {
                color: #000000;
                font-size: 50px;
                height: auto;
                line-height: normal;
                border: none;
                background: none;
                float: left;
                width: 90%;
                outline: none !important;

                @include min-tablet {
                    font-size: 35px;
                }
            }
        }
    }

    .search-bar_exit {
        position: absolute;
        right: 40px;
        font-size: 40px;
        top: 15px;
        padding: 0 20px;
        margin: 0;
        z-index: 9999;
        color: #be9c79;
        transition: .3s ease;
        cursor: pointer;

        &:hover {
            color: #514242;
        }
    }
}

// Search End

// Main Menu Start
.main-menu {
    width: 337px;
    height: 100vh;
    background: white;
    left: -337px;
    top: 0;
    z-index: 9999;
    transition: .3s ease;

    &::-webkit-scrollbar {
        width: 10px;
    }

    .m-close-side {
        padding: 10px;
        border-bottom: 1px solid #e4e4e4;

        .close {
            opacity: 1;
            cursor: pointer;
            transition: .3s ease;

            &:hover {
                color: #be9c79;
            }
        }
    }

    .m-list {
        .menu-list-parent {
            .menu-list-child {
                border-bottom: 1px solid #e4e4e4;
                padding: 13px 20px;
                position: relative;
                cursor: pointer;
                letter-spacing: .05em;
                font-size: 14px;
                font-weight: normal;
                color: #000000;
                transition: .3s ease;

                i {
                    position: absolute;
                    right: 6px;
                    top: 15px;
                    font-size: 19px;
                    display: inline-block;
                }

                &:hover {
                    color: #be9c79;
                }

                a {
                    letter-spacing: .05em;
                    font-size: 14px;
                    font-weight: normal;
                    color: #000000;
                    transition: .3s ease;

                    &:hover {
                        color: #be9c79;
                    }
                }
            }

            .menu-list-head {
                border-bottom: 1px solid #e4e4e4;
                padding: 13px 20px;
                position: relative;
                text-transform: uppercase;
                letter-spacing: .05em;
                font-size: 14px;
                font-weight: normal;
                color: #000000;
                transition: .3s ease;

                i {
                    position: absolute;
                    left: 20px;
                    top: 15px;
                    font-size: 19px;
                    display: inline-block;
                    transition: .3s ease;
                    cursor: pointer;

                    &:hover {
                        color: #be9c79;
                    }
                }
            }
        }
    }

    .list_menu {
        background-color: white;
        height: 100vh;
        top: 45px;
        left: -337px;
        transition: .3s ease;
    }
}

// Main Menu End


// Header Start
#header-landing {
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 999;

    @include min-tablet {
        background-color: #271c1b !important;
        position: static;
    }

    .container {
        .row {

            @include min-tablet {
                display: flex;
                justify-content: space-between;
            }

            .logo {
                height: 100%;

                a {
                    img {
                        max-height: 100%;
                        margin: 0 auto;
                        object-fit: cover;
                    }
                }

                @include mobile {
                    padding: 10px;
                }

            }

            .m-bar-side {
                @include min-tablet {
                    display: none;
                }

                .menu-bar {
                    height: 100%;

                    .site-nav {
                        .mega-menu {
                            position: static;

                            .menu-child {
                                font-size: 16px;
                                padding: 24px 20px;
                                color: #ffffff;
                                display: block;
                                transition: .3s ease;

                                i {
                                    font-size: 12px;
                                }

                                @include max-tablet {
                                    font-size: 14px;
                                    padding: 24px 15px;
                                }

                                @include resp-tab {
                                    padding: 24px 10px;
                                }

                            }

                            .mega-menu-ch {
                                padding: 20px 0px;
                                box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
                                border-radius: 0px;
                                display: block;
                                background: #fff;
                                width: 215px;
                                border: 1px solid transparent;
                                transition: all .4s ease-in-out;
                                visibility: hidden;
                                opacity: 0;
                                transform: scaleY(0);
                                transform-origin: 0 0;

                                li {
                                    a {
                                        color: #000000;
                                        padding: 5px 20px;
                                        display: block;
                                        transition: .3s ease;

                                        &:hover {
                                            color: #be9c79;
                                        }
                                    }
                                }
                            }

                            .side-nav-dropdown {
                                position: fixed;
                                width: 98%;
                                left: 0;
                                right: 0;
                                border-bottom: 5px solid;
                                border-right: none;
                                border-left: none;
                                border-top: none;
                                margin: auto;
                                border-color: #271c1b;
                                transition: all .4s ease-in-out;
                                visibility: hidden;
                                opacity: 0;
                                transform: scaleY(0);
                                transform-origin: 0 0;
                                z-index: 999;
                                background: #fff;

                                .container {
                                    padding: 35px;
                                    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
                                    border-radius: 0px;

                                    .row {
                                        .inner {
                                            width: 100%;

                                            .list-name {
                                                color: #301914;
                                                padding: 0;
                                                letter-spacing: 0.05em;
                                                margin-bottom: 10px;
                                                text-transform: uppercase;
                                                font-family: 'Spicy Rice', cursive;
                                                font-size: 18px;
                                                font-weight: normal;
                                                transition: .3s ease;

                                                &:hover {
                                                    color: #be9c79;
                                                }
                                            }

                                            .dropdown {
                                                width: 100%;
                                                display: block;
                                                white-space: nowrap;

                                                li {
                                                    i {
                                                        color: #be9c79;
                                                    }

                                                    a {
                                                        color: #000000;
                                                        margin-left: .5rem;
                                                        display: inline-block;
                                                        padding: 8px 0;
                                                        font-size: 15px;
                                                        line-height: 18px;
                                                        transition: .3s ease;
                                                    }

                                                    &:hover {
                                                        a {
                                                            color: #874d34;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .dropdown-image {
                                            a {
                                                img {
                                                    object-fit: cover;

                                                    @include max-tablet {
                                                        max-width: 100%;
                                                    }
                                                }
                                            }

                                            .image-info {
                                                height: 100%;

                                                a {
                                                    color: #000000;
                                                    transition: .3s ease;

                                                    &:hover {
                                                        color: #874d34;
                                                    }
                                                }

                                                span {
                                                    color: #5e473e;
                                                    font-size: 16px;
                                                }
                                            }
                                        }

                                    }
                                }
                            }

                            &:hover {
                                .menu-child {
                                    color: #be9c79;
                                }

                                .side-nav-dropdown {
                                    visibility: visible;
                                    opacity: 1;
                                    transform: scaleY(1);
                                    overflow: visible;
                                }

                                .mega-menu-ch {
                                    visibility: visible;
                                    opacity: 1;
                                    transform: scaleY(1);
                                    z-index: 999;
                                }
                            }
                        }
                    }
                }
            }

            .shopify-section {
                height: 100%;

                .menu-icon {

                    .search {
                        color: #ffffff;
                        padding: 24px 10px;
                        cursor: pointer;

                        &:hover {
                            color: #be9c79;
                            transition: .3s ease;
                        }
                    }

                    .currency {
                        padding: 17px 10px;

                        @include max-tablet {
                            padding: 20px 15px;
                        }

                        @include max-tablet {
                            padding: 11px 10px;
                        }

                        select {
                            max-width: 100%;
                            background: none;
                            border: none;
                            color: #ffffff;
                            text-transform: uppercase;
                            font-size: 16px;
                            cursor: pointer;
                            transition: .3s ease;
                            padding: 0.375rem 0.75rem 0.375rem 0.75rem;

                            &:focus {
                                outline: none;
                                box-shadow: none;
                            }

                            @include max-tablet {
                                font-size: 14px;
                            }

                            @include min-tablet {
                                font-size: 20px;
                            }

                            option {
                                color: black;
                            }

                            &:hover {
                                color: #be9c79;
                            }
                        }
                    }

                    .user {
                        .mega-menu-ch {
                            padding: 20px 0px;
                            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
                            border-radius: 0px;
                            display: block;
                            background: #fff;
                            width: 210px;
                            right: 0px;
                            top: 48px;
                            border: 1px solid transparent;
                            transition: all .4s ease-in-out;
                            visibility: hidden;
                            opacity: 0;
                            transform: scaleY(0);
                            transform-origin: 0 0;
                            z-index: 999;

                            li {
                                a {
                                    color: #000000;
                                    padding: 5px 20px;
                                    display: block;
                                    transition: .3s ease;

                                    @include min-tablet {
                                        font-size: 14px;
                                    }

                                    &:hover {
                                        color: #be9c79;
                                    }
                                }
                            }
                        }

                        &:hover {
                            a {
                                color: #be9c79;
                                transition: .3s ease;
                            }

                            .mega-menu-ch {
                                visibility: visible;
                                opacity: 1;
                                transform: scaleY(1);
                            }
                        }
                    }

                    .shopping-basket {
                        .detail {
                            width: 15px;
                            height: 15px;
                            background: #ffffff;
                            color: black;
                            border-radius: 50%;
                            right: -4px;
                            top: -11px;
                            position: absolute;
                            font-size: 10px;
                        }

                        .basket-top {
                            width: 350px;
                            padding: 15px 25px;
                            top: 48px;
                            right: 0;
                            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
                            border-radius: 0px;
                            background: #fff;
                            border: 1px solid transparent;
                            transition: all .4s ease-in-out;
                            visibility: hidden;
                            opacity: 0;
                            transform: scaleY(0);
                            transform-origin: 0 0;
                            z-index: 999;

                            @include min-tablet {
                                right: -90px;
                            }

                            .no-item {
                                display: block;
                            }

                            .has-item {
                                display: none;
                            }
                        }

                        &:hover {
                            a {
                                color: #be9c79;
                                transition: .3s ease;
                            }

                            .detail {
                                background: #be9c79;
                                transition: .3s ease;
                            }

                            .basket-top {
                                visibility: visible;
                                opacity: 1;
                                transform: scaleY(1);
                            }
                        }
                    }

                    .header-mobile {
                        color: #ffffff;
                        cursor: pointer;
                        padding: 23px 20px;
                        display: none;
                        transition: .3s ease;

                        &:hover {
                            color: #be9c79;
                        }

                        @include min-tablet {
                            display: block;
                            font-size: 19px;
                            padding: 10px 20px;
                        }
                    }

                    a {
                        color: #ffffff;
                        padding: 24px 10px;

                        @include max-tablet {
                            font-size: 14px;
                        }

                        @include min-tablet {
                            font-size: 20px;
                            padding: 20px 10px;
                        }
                    }
                }
            }
        }
    }
}

// Header End