.tile-pad {
    height: 100%;
    // padding: 64px;

    .list-title-first {
        color: #fff;

        h2 {
            margin: 0;
            opacity: .6;
            font-weight: 900;
            font-size: 3.4332275391rem;
            line-height: 1.25;
            text-transform: uppercase;
            font-family: 'Intro', Arial, Helvetica, sans-serif;

            @include min-tablet {
                font-size: 2.197265625rem;
            }

            @include max-tablet {
                font-size: 2.7465820312rem;
            }
        }

        h3 {
            margin: 0;
            padding: 0;
            margin-bottom: .7964444444em;
            opacity: .9;
            font-size: 1.40625rem;
            line-height: 1.25;
            font-weight: 900;
            text-transform: uppercase;
            font-family: 'Intro', Arial, Helvetica, sans-serif;
            white-space: nowrap;

        }
    }

    .list-title-second {
        color: #fff;

        p {
            margin: 0;
            padding: 0;
            margin-bottom: 1.5555555556em;
            font-size: 1.1875rem;
            line-height: 1.75;

            @include min-tablet {
                font-size: 1.1rem;
            }

            br {
                @include min-tablet {
                    display: none;
                }

                @include max-tablet {
                    display: none;
                }
            }
        }

        .c-btn {
            color: white;
            border-color: #fff;
            border-width: 3px;
            border-style: solid;
            line-height: 48px;
            height: 54px;
            margin: 0;
            padding: 1em 2.5em;
            white-space: nowrap;
            font-weight: 700;
            text-transform: uppercase;
            font-family: 'Intro';
            transition: .4s ease;

            @include min-tablet {
                display: block;
                width: 100%;
                padding: 0 !important;
                text-align: center;
            }

            i {
                position: absolute;
                right: 1em;
                opacity: 0;
                top: 17px;
                transition: .4s ease;

                @include min-tablet {
                    right: 100px;
                    top: 16px;
                }
            }

            &:hover {
                padding-right: 4em;
                background-color: white;
                color: #e4458d;

                i {
                    opacity: 1;
                    right: 30px;
                    color: #e4458d;

                    @include min-tablet {
                        right: 80px;
                    }
                }
            }
        }
    }

    .list-title-footer {
        margin-top: 32px;
        color: #fff;

        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
            opacity: .9;
            font-family: 'Intro', Arial, Helvetica, sans-serif;
            font-size: 1.40625rem;
            line-height: 1.25;
        }

        ul {
            width: 75%;

            @include min-tablet {
                width: 100%;
            }

            li {
                width: 50%;
                float: left;
                min-height: 1px;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 14px;
                line-height: 2.30;
                white-space: nowrap;

                @include min-tablet {
                    width: 100%;
                }

                a {
                    color: hsla(0, 0%, 100%, .66);
                    font-weight: 600;
                    font-size: .9rem;
                    line-height: 1.9444444444;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}