.listing-flush {
    padding: 32px;
    height: 70%;

    @include min-tablet {
        height: 60%;
    }

    @include max-tablet {
        padding: 0;
        margin-top: 60px;
    }

    .listing-picture {
        min-width: 102%;
        min-height: 102%;
        top: -1%;
        left: -1%;

        @include min-tablet {
            position: static !important;
        }

        @include max-tablet {
            position: static !important;
        }

        a {
            color: #fff;

            .tile-humb {
                height: 390px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                @include min-tablet {
                    height: 260px;
                }

                @include max-tablet {
                    height: 300px;
                }

                .humb-hover {
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.301);
                    transition: .5s ease;

                    h3 {
                        font-size: 3.4332275391rem;
                        line-height: 1;
                        font-family: 'Intro', Arial, Helvetica, sans-serif;
                        visibility: hidden;
                        opacity: 0;
                        transition: .5s ease;
                        margin-top: -20px;

                        @include min-tablet {
                            font-size: 2.197265625rem;
                            line-height: 1;
                            margin: 0;
                        }
                    }

                    p {
                        margin-top: .87em;
                        // font-size: 14.4px;
                        font-size: .9rem;
                        line-height: 1.1;
                        color: hsla(0, 0%, 100%, .66);
                        font-family: 'Intro', Arial, Helvetica, sans-serif;
                        visibility: hidden;
                        opacity: 0;
                        transition: .5s ease;
                        padding: 10px;

                        @include min-tablet {
                            margin: 0;
                        }
                    }


                }

                .cornerstone {
                    margin-right: 33%;
                    left: -.5em;
                    right: -.5em;
                    bottom: 15%;
                    padding: 2em 1em;
                    background-color: #f7f7f7;
                    text-align: center;
                    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .25);
                    border-radius: 1px;
                    transition: .5s ease;
                    text-align: center;

                    @include min-tablet {
                        bottom: 28%;
                    }

                    @include resp-tab {
                        bottom: 28%;
                        margin-right: 0;
                    }

                    .cornerstone-label {
                        margin-bottom: .67em;
                        // font-size: 14.4px;
                        font-size: .9rem;
                        line-height: 1.1;
                        font-weight: 700;
                        opacity: .25;
                        display: block;
                        max-width: 420px;
                        margin-left: auto;
                        margin-right: auto;
                        color: #333;
                        font-family: 'Intro', Arial, Helvetica, sans-serif;
                    }

                    .cornerstone-content {
                        display: block;
                        max-width: 420px;
                        margin-left: auto;
                        margin-right: auto;
                        font-family: 'Intro', Arial, Helvetica, sans-serif;
                        color: #333;
                        // font-size: 18px;
                        font-size: 1.125rem;
                        line-height: 1.25;
                        font-weight: 900;
                        letter-spacing: .025em;
                    }

                    @include min-tablet {
                        margin-right: 0;
                    }
                }

            }

            &:hover {
                .humb-hover {
                    background-color: rgba(0, 0, 0, .66);

                    h3 {
                        visibility: visible;
                        opacity: 1;
                        margin-top: -10px;

                        @include min-tablet {
                            margin-top: 0;
                        }
                    }

                    p {
                        visibility: visible;
                        opacity: 1;
                        margin-top: -5;

                        @include min-tablet {
                            margin: 0;
                        }
                    }
                }

                .cornerstone {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
}