// ABOUT TEXT START
.about-text {
    background-color: #f7f7f7;

    .team-text-side {
        max-width: 848px;

        h2 {
            font-size: 2.7465820312rem;
            line-height: 1.25;
            font-family: 'Intro', Arial, Helvetica, sans-serif;

            @include resp-tab {
                font-size: 2.197265625rem;
            }

            @include min-tablet {
                font-size: 1.7578125rem;
            }


            &::after {
                display: block;
                content: "";
                width: 2px;
                height: 28px;
                margin: 32px auto;
                background-color: rgba(0, 0, 0, .1);
            }
        }

        p {
            font-size: 1.1875rem;
            line-height: 1.75;
            margin: 0;
            padding: 0;
            opacity: .9;
        }
    }
}

// ABOUT TEXT END


//  ZEAL TEAM START
.zeal-team-side {
    background-color: #f2f2f2;

    .container {
        max-width: $container;

        .row {
            padding-left: 64px;
            padding-right: 64px;
        }
    }
}

//  ZEAL TEAM END