<div class="o-grid">
    <a href="#" class="d-flex flex-column justify-content-center align-items-center">
        <div class="tile-logo position-relative">

            <div class="tile-logo-main w-100">
                <img src="../../../assets/zeal-create.png" alt="zeal-create">
            </div>

            <div class="tile-logo-variant position-absolute w-100">
                <img src="../../../assets/zeal-outline-create.png" alt="zeal-create">
            </div>

        </div>

        <div class="tile-title d-flex flex-column justify-content-center align-items-center w-100 text-center">
            <h3>ZEAL <br> CREATE</h3>

            <p>Turn your ideas into <br> reality</p>
        </div>
    </a>
</div>