<div class="listing-flush d-flex flex-column justify-content-center position-relative w-100">
    <div class="listing-picture position-absolute">
        <a href="#">
            <div class="tile-humb position-relative d-flex justify-content-center align-items-center w-100"
                style="background-image: url('../../../assets/tomato.jpg')">
                <div class="humb-hover d-flex flex-column justify-content-center align-items-center w-100">
                    <h3>Primula</h3>
                    <p>View Case Study</p>
                </div>

                <div class="cornerstone position-absolute">
                    <span class="cornerstone-label">Case Study</span>
                    <span class="cornerstone-content">A maid makeover for Primula</span>
                </div>
            </div>
        </a>
    </div>
</div>