<div class="tile-pad w-100">
    <div class="list-title-first w-100">
        <h2>Zeal Create</h2>
        <h3>Turn your ideas into reality</h3>
    </div>

    <div class="list-title-second w-100">
        <p>We craft the words and create all digitally designed assets.<br> Video or animation.
            Packaging or print. App or website.</p>

        <a href="#" class="c-btn position-relative">
            Learn More

            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>

    <div class="list-title-footer">
        <h4>Services</h4>

        <ul>
            <li><a href="#">App Development</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">Copywriting</a></li>
            <li><a href="#">Enterprise Solutions / IBM</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Magento / E-commerce</a></li>
            <li><a href="#">Video & Animation</a></li>
            <li><a href="#">Web Application / Bespoke</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">WordPress / Brochureware</a></li>
        </ul>
    </div>
</div>