<div class="team-listing w-100">
    <a href="#">

        <div class="thumb d-flex flex-column justify-content-center align-items-center" style="background-image:url('../../../assets/olivia-nicholls.jpg')">

            <div class="team-tile d-flex flex-column justify-content-center align-items-center text-center w-100">
                <h3>
                    Olivia <br> Nichols
                </h3>

                <p>Developer</p>
            </div>

        </div>

    </a>
</div>