<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="tags for website">
<meta name="description" content="front-end starter">
<meta name="author" content="Labrin.net">

{{!-- Links --}}
<link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

{{#getData 'index'}}
  {{!-- <title> Home - {{ title }} </title> --}}
  <title> Coffee Shop </title>
{{/getData}}